<h1>Productos en tiempo real</h1>

{{#if error}}
    <p>Ha ocurrido un error: {{errorMessage}}</p>
{{else}}
    {{#each products}}
        <ul>
            <li>{{this.title}}</li>
            <li>{{this.price}}</li>
        </ul>
    {{/each}}
{{/if}}

<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
