<h1>Productos en tiempo real</h1>
<h2>Crear Producto</h2>

<form id="createProductForm">
    <label for="title">Nombre:</label>
    <input type="text" name="title">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description">
    <br>
    <label for="price">Precio:</label>
    <input type="text" name="price">
    <br>
    <label for="thumbnail">Imagen:</label>
    <input type="text" name="thumbnail">
    <br>
    <label for="code">Código:</label>
    <input type="text" name="code">
    <br>
    <label for="stock">Stock:</label>
    <input type="text" name="stock">
    <br>
    <button type="submit">Agregar Producto</button>
</form>

<ul id="productList"></ul>


<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
