<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <p>Bienvenido, <span id="user"></span></p>
    <form>
        <input type="text" placeholder="Escribe tu mensaje" id="msg">
        <button id="send">Enviar</button>
    </form>
    <div id="chatPanel"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
