<p>{{ session.message}}</p>
<h1>Iniciar sessión</h1>
<form action="api/login" method="post">
    <label>Correo</label>
    <input type="email">
    <br>
    <label>Contraseña</label>
    <input type="password">
    <br>
    <button>Iniciar Sesión</button> <span>No tienes una cuenta? <a href="/signup">Regístrate!</a></span>
</form>
<br>
