<h1>Regístrate</h1>
<form action="/api/sessions" method="post">
    <label>Nombre:</label>
    <input type="text" name="name" placeholder="Ingresa tu nombre">
    <br>
    <label>Apellido:</label>
    <input type="text" name="last_name" placeholder="Ingresa tu apellido">
    <br>
    <label>Correo:</label>
    <input type="email" name="email" placeholder="Ingresa tu correo">
    <br>
    <label>Contraseña:</label>
    <input type="password" name="password" placeholder="Ingresa tu contraseña">
    <br>
    <button>Registrarse</button>
</form>
<br>
